@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Book Antiqua";
  src: url("../fonts/Book-Antiqua-Font/BookAntiquaFont.ttf");
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
}

.flex__center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container__section {
  max-width: 1400px;
  display: flex;
  justify-content: center;
}

/**header-start**/

.header {
  height: 90px;
  background-color: #ffffff;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
}

.navbar-brand img {
  width: 265px;
  height: 53.5px;
}

.navbar .social {
  width: 202px;
  gap: 8px;
  display: flex;
}

.navbar-nav {
  gap: 20px;
}

.navbar-nav a {
  font-family: "Roboto Bold";
  font-size: 15px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  position: relative;
}

.navbar-nav a.active::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15);
  background-color: rgb(61, 177, 226);
}

.social i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9e9d9d;
  font-size: 14px;
  border: 2px solid #ccc;
}

/**header-end**/

/**banner-start**/

.banner {
  height: 547px;
  margin-top: 20px;
}

.banner__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.banner__wrap .service__box {
  width: 270px;
  height: 100%;
  margin-left: 10px;
}

.banner__wrap .banner__image {
  width: 100%;
  padding-right: 10px;
}

.banner__wrap .banner__image .filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.banner__image .filter button {
  width: 171px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #da2121;
  font-family: "Roboto Bold";
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}

.banner__image .filter .input-group .form-control {
  border-radius: 0 !important;
}

.banner__image .filter .input-group .input-group-text {
  border-radius: 0 !important;
  background: #3db1e2;
  color: #ffffff;
}

.banner__image input::placeholder {
  font-family: "Roboto";
  font-size: 14px;
  color: #54595f;
}

.banner__image .filter div span {
  width: 55px !important;
  height: 100% !important;
}

.banner__image .filter div span i{
  font-size: 20px;
}

.banner__carousel {
  width: 100%;
  height: 465px;
  margin-top: 30px;
}

.banner__carousel .carousel-item img {
  width: 1070px;
  height: 465px;
  object-fit: cover;
  object-position: center left;
}

.banner__carousel .carousel-item img.top {
  object-position: top left;
}

.banner__carousel .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 18px !important;
  height: 18px !important;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: transparent !important;
  background-image: url("https://res.cloudinary.com/dcnp2nsnl/image/upload/v1678153135/Appspirer/circle-regular_jr15yq.svg");
  background-repeat: no-repeat;
  border: none !important;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.banner__carousel .carousel-indicators .active {
  background-image: url("https://res.cloudinary.com/dcnp2nsnl/image/upload/v1678153135/Appspirer/circle-dot-regular_e2krak.svg");
}

.service__box .title {
  background-color: #3db1e2;
  width: 100%;
  height: 51.99px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
}

.service__box .title i {
  color: #fff;
}

.service__box .title div {
  font-family: "Roboto Bold";
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}

.service__box .content {
  width: 100%;
  height: 44.6px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  font-family: "Roboto Bold";
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  border-left: 1px solid rgba(0, 0, 0, 0.075);
  border-right: 1px solid rgba(0, 0, 0, 0.075);
}

/**banner-end**/

/**information-start**/

.information {
  height: 176px;
  background-color: #fff;
}

.information__wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
  margin-top: 60px;
}

.information__wrap .content .facebook {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(230, 239, 246);
  display: flex;
  justify-content: center;
  align-items: center;
}

.information__wrap .content .youtube {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(230, 239, 246);
  display: flex;
  justify-content: center;
  align-items: center;
}

.information__wrap .content .portfolio {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(230, 239, 246);
  display: flex;
  justify-content: center;
  align-items: center;
}

.information__wrap .content div img {
  width: 43.26px;
  height: 43.26px;
}

.information__wrap .content p {
  text-align: center;
  margin-top: 15px;
  font-family: "Roboto Bold";
  font-size: 16px;
  color: #000;
}

/**information-end**/

/**about__us-start**/

.about__us {
  height: auto;
  background-color: #ffffff;
  background-image: url("https://res.cloudinary.com/dcnp2nsnl/image/upload/v1678153131/Appspirer/lawyer-pic-bg_qq6jq8.webp");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
}

.about__us__wrap {
  padding: 25px 90px 0px 30px;
}

.about__us h1 {
  font-family: "Roboto Bold";
  font-size: 40px;
  color: #005D80;
  text-align: center;
  margin-top: 30px;
}

.about__us__wrap div img {
  width: 463.32px;
  height: 441.93px;
}

.about__us__wrap div p {
  font-family: "Book Antiqua";
  font-size: 18.67px;
  color: #1a3d97;
}

.about__us .justify__item {
  display: flex;
  justify-content: space-between;
}

/**about__us-end**/

/**design__app-start**/

.design__app {
  height: auto;
  background-color: #fff;
}

.design__app__wrap {
  width: 100%;
  padding: 30px 40px 0px 40px;
}

.design__app__wrap h2 {
  font-family: "Roboto Bold";
  font-size: 40px;
  color: #005D80;
  position: relative;
}

.design__app__wrap h2::before {
  content: "";
  width: 60%;
  height: 1px;
  background: rgba(0, 0, 0, 0.105);
  position: absolute;
  top: 55%;
  left: -65%;
}

.design__app__wrap h2::after {
  content: "";
  width: 60%;
  height: 1px;
  background: rgba(0, 0, 0, 0.105);
  position: absolute;
  top: 55%;
  right: -65%;
}

.design__app__wrap img {
  width: 50px;
  height: 50px;
}

.design__app__box {
  height: 650px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.design__app__box .line {
  width: 100% !important;
  height: 1px !important;
  background-color: rgba(0, 0, 0, 0.105);
}

.design__app__box .title {
  font-family: "Roboto Bold";
  font-size: 20px;
  color: #005D80;
}

.design__app__box .content {
  font-family: "Roboto";
  font-size: 15px;
  color: #595959;
  padding-left: 20px;
}

.design__app__box .left {
  width: 322.5px;
  height: 100%;
}

.design__app__box .left div {
  text-align: end;
  padding: 20px;
  height: 306.78px;
  width: 100%;
  background: #efefef;
  margin-bottom: 20px;
  border-radius: 5px;
}

.design__app__box div img {
  width: 100px;
  height: 100px;
}

.design__app__box .right {
  width: 322.5px;
}

.design__app__box .right div {
  text-align: start;
  padding: 20px;
  height: 306.78px;
  width: 100%;
  background: #efefef;
  margin-bottom: 20px;
  border-radius: 5px;
}

.design__app__box .image__carousel {
  width: 665px;
  height: auto;
  padding: 0px 80px;
}

.image__carousel .carousel-item img {
  width: 655px;
  height: 630px;
}

/**design__app-end**/

/**design__web-start**/

.design__web {
  width: 100%;
  height: 571px;
  background-color: #ffffff;
  background-image: url("https://res.cloudinary.com/dcnp2nsnl/image/upload/v1678153126/Appspirer/BG-thie%CC%82%CC%81t-ke%CC%82%CC%81_s1e1jy.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.design__web__wrap {
  display: flex;
  justify-content: space-between;
}

.design__web__wrap h2 {
  font-family: "Roboto Bold";
  font-size: 40px;
  color: #ffffff;
  margin-top: 70px;
  margin-bottom: 50px;
}

.design__web__wrap img {
  width: 443.32px;
  height: 332.48px;
  margin-top: 140px;
  margin-left: 60px;
}

.design__web__text {
  display: flex;
  gap: 20px;
}

.design__web__text div {
  width: 403.32px;
}

.design__web__text .title {
  font-family: "Roboto Bold";
  font-size: 26px;
  color: #ffffff;
}

.design__web__text .content {
  font-family: "Roboto";
  font-size: 18px;
  color: #ffffff;
}

.design__web__wrap .button__design {
  width: 124.16px;
  height: 41.97px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-family: "Roboto Bold";
  font-size: 13px;
  color: #3e3e3e;
  text-transform: uppercase;
  border: none;
  background: #f3f3f3;
  border-radius: 5px;
}

.design__web__wrap .button__design__outline {
  width: 136.6px;
  height: 40.49px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Bold";
  font-size: 13px;
  color: #ffffff;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 5px;
}

/**design__web-end**/

/**testimonial-start**/

.testimonial {
  height: auto;
  background-color: #fff;
}

.testimonial__wrap {
  width: 100%;
  padding: 30px 40px 0px 40px;
}

.testimonial__wrap h2 {
  font-family: "Roboto Bold";
  font-size: 40px;
  color: #005D80;
  position: relative;
}

.testimonial__wrap h2::before {
  content: "";
  width: 90%;
  height: 1px;
  background: rgba(0, 0, 0, 0.105);
  position: absolute;
  top: 55%;
  left: -100%;
}

.testimonial__wrap h2::after {
  content: "";
  width: 90%;
  height: 1px;
  background: rgba(0, 0, 0, 0.105);
  position: absolute;
  top: 55%;
  right: -100%;
}

.testimonial__wrap img {
  width: 50px;
  height: 50px;
}

.owl-carousel-testimonial {
  height: auto;
}

.owl-carousel-testimonial .item {
  background-color: #fff;
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  transition: box-shadow 0.5s ease;
  padding: 30px;
  margin-right: 30px;
  margin-top: 100px;
  margin-bottom: 30px;
  min-height: 500px;
}

.owl-carousel-testimonial .company {
  width: 100px !important;
  height: 100px;
  margin-bottom: 30px;
}

.owl-carousel-testimonial .rate {
  width: 79.74px;
  height: 24px;
  margin-bottom: 20px;
}

.owl-dots {
  padding-bottom: 50px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.owl-carousel-testimonial .item .title {
  font-family: "Roboto";
  font-size: 15px;
  color: #595959;
  min-height: 150px;
}

.owl-carousel-testimonial .item .content {
  font-family: "Roboto";
  font-size: 15px;
  color: #595959;
}

.owl-carousel-testimonial .item .content span {
  color: #242424;
  font-family: "Roboto Bold";
}

.owl-carousel-testimonial .owl-nav {
  display: none;
}

.owl-dot {
  width: 10px;
  height: 10px;
  background: transparent !important;
  border-radius: 50%;
  margin-left: 21px;
  border: 1px solid #bbb !important;
}

.owl-dot.active {
  width: 12px;
  height: 12px;
  background: #333 !important;
}

.profit {
  margin-top: 100px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 4px dashed #0201011c;
  padding-top: 50px;
  position: relative;
}

.profit .profit__wrap div div img {
  max-width: 675px !important;
  height: 420px;
  object-fit: cover;
  padding: 10px;
}

.profit .profit__text {
  max-width: 675px;
  padding-left: 10px;
  position: relative;
}

.profit__text .title {
  font-family: "Roboto Bold";
  font-size: 28px;
  color: #005D80;
}

.profit__text .content {
  font-family: "Roboto";
  font-size: 18px;
  color: #595959;
}

.profit__text .content strong {
  display: block;
  margin-bottom: 10px;
}

.vietnam {
  position: absolute;
  top: 5%;
  right: -30%;
  width: 437.25px !important;
  height: 524.69px !important;
  opacity: 0.4;
}

/**testimonial-end**/

/**blog-start**/

.blog {
  height: auto;
  background-color: #fff;
  margin-top: 20px;
}

.blog__wrap {
  width: 100%;
  padding: 30px 40px 0px 40px;
}

.blog__wrap h2 {
  font-family: "Roboto Bold";
  font-size: 40px;
  color: #005D80;
  text-align: center;
  position: relative;
  margin-bottom: 45px;
}

.blog__wrap h2::before {
  content: "";
  width: 500px;
  height: 1px;
  background: rgba(0, 0, 0, 0.105);
  position: absolute;
  top: 55%;
  left: 120px;
}

.blog__wrap h2::after {
  content: "";
  width: 500px;
  height: 1px;
  background: rgba(0, 0, 0, 0.105);
  position: absolute;
  top: 55%;
  right: 120px;
}

.owl-carousel-blog {
  width: 100%;
  padding: 20px;
}

.owl-carousel-blog .item {
  max-width: 467.33px;
  max-height: 550px;
  margin-left: 30px;
}

.owl-carousel-blog .owl-nav {
  display: none;
}

.item .wrapper {
  position: relative;
}

.owl-carousel-blog .item img {
  max-width: 467.33px;
  height: 211.61px;
}

.item .category {
  max-width: 124.75px;
  height: 25px;
  position: absolute;
  bottom: -5%;
  left: 34%;
  background-color: #3db1e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Bold";
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

.item .date {
  width: 53px;
  height: 56px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
}

.item .date .day {
  font-family: "Roboto";
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-bottom: -1px;
}

.item .date p {
  font-family: "Roboto Bold";
  font-size: 12px;
  color: #333333;
  text-align: center;
}

.owl-carousel-blog .title {
  font-family: "Roboto Bold";
  font-size: 24px;
  color: #005D80;
  padding: 10px;
  text-align: center;
  margin-top: 14px;
}

.owl-carousel-blog .content {
  font-family: "Roboto";
  font-size: 15px;
  color: #595959;
  padding: 10px;
  text-align: center;
  line-height: 1.7;
}

.owl-carousel-blog .posted div {
  gap: 10px;
  margin: -14px 0px !important;
}

.owl-carousel-blog .posted p {
  font-family: "Roboto";
  font-size: 14px;
  color: #a5a5a5;
}

.owl-carousel-blog .posted img {
  width: 18px !important;
  height: 18px;
  border-radius: 50%;
}

.owl-carousel-blog .posted i {
  color: #a5a5a5;
}

.owl-carousel-blog .item div a {
  font-family: "Roboto Bold";
  font-size: 13px;
  color: #3db1e2;
  text-transform: uppercase;
}

.owl-carousel-blog .owl-dots {
  margin-left: -10px;
}

.blog__wrap .see__all {
  width: 120px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Bold";
  font-size: 15px;
  color: #fff;
  background: #818a91;
  border: none;
  border-radius: 5px;
}
/**blog-end**/

/**contact-start**/

.contact {
  height: auto;
}

.contact__wrap {
  width: 100%;
  padding: 30px 40px 0px 40px;
}

.contact__wrap h2 {
  font-family: "Roboto Bold";
  font-size: 40px;
  color: #005D80;
  text-align: center;
  position: relative;
  margin-bottom: 45px;
}

.contact__wrap h2::before {
  content: "";
  width: 41%;
  height: 1px;
  background: rgba(0, 0, 0, 0.105);
  position: absolute;
  top: 55%;
  left: 2%;
}

.contact__wrap h2::after {
  content: "";
  width: 41%;
  height: 1px;
  background: rgba(0, 0, 0, 0.105);
  position: absolute;
  top: 55%;
  right: 2%;
}

.contact__wrap .map {
  width: 100%;
  height: 500px;
}

.contact__content {
  width: 100%;
  margin-top: 50px;
  display: flex;
  padding: 20px;
}

.contact__content .contact__info {
  width: 50%;
  padding: 20px;
  padding-left: 50px;
}

.contact__content .contact__field {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  padding-right: 50px;
}

.contact__content div label {
  font-family: "Roboto Bold";
  font-size: 22px;
  color: #005D80;
  margin-bottom: 30px;
}

.contact__text {
  display: flex;
  gap: 30px;
}

.contact__text .contact__border {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #77cef3;
}

.contact__text i {
  font-size: 20px;
  color: #fff;
}

.contact__text div {
  margin-bottom: 30px;
}

.contact__text .title {
  font-family: "Roboto Bold";
  font-size: 18px;
  color: #4c4c4c;
  margin-bottom: 10px;
}

.contact__text .content {
  font-family: "Roboto";
  font-size: 15px;
  color: #595959;
}

.contact__field .input__info {
  gap: 30px;
  display: flex;
  justify-content: space-between;
}

.contact__field .input__field {
  width: 100%;
}

.contact__field .input__field p {
  font-family: "Roboto";
  font-size: 15px;
  color: #4c4c4c;
  margin-bottom: 5px;
}

.contact__field .input__field input {
  width: 100%;
  height: 42px;
  padding: 0px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.contact__field .input__width input {
  width: 100%;
  height: 42px;
  padding: 0px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.contact__field .input__width p {
  font-family: "Roboto";
  font-size: 15px;
  color: #4c4c4c;
  margin-bottom: 5px;
}

.contact__field .input__area p {
  font-family: "Roboto";
  font-size: 15px;
  color: #4c4c4c;
  margin-bottom: 5px;
}

.contact__field .input__area textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  width: 100%;
  height: 180px;
  margin-bottom: 20px;
  resize: none;
}

.contact__field button {
  width: 99px;
  height: 42px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Bold";
  font-size: 13px;
  color: #333;
  background: #f3f3f3;
  text-transform: uppercase;
}

/**contact-end**/

/**service__appspirer-start**/

.service__appspirer {
  height: 83px;
  padding-top: 10px;
  background: #3db1e2;
}

.service__appspirer .service__item {
  width: 248px;
  height: 72px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.service__item img {
  width: 55px;
  height: 50px;
}

.service__item p {
  font-family: "Roboto Bold";
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-align: start;
}

/**service__appspirer-end**/

/**top__footer-start**/

.top__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  padding: 20px;
}

.footer__wrap {
  padding-top: 10px;
  display: flex;
}

.footer__wrap .infor__appspirer {
  width: 347.5px;
  padding: 10px;
}

.infor__appspirer img {
  width: 209.59px;
  height: 39.36px;
}

.infor__appspirer p {
  font-family: "Roboto Bold";
  font-size: 24px;
  color: #443434;
  margin: 15px 0px;
}

.infor__appspirer .infor_item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.infor__appspirer .infor_item i {
  font-size: 18px;
}

.infor__appspirer .infor_item p {
  font-family: "Roboto";
  font-size: 14px;
  color: #595959;
  margin: 10px 0px;
}

.footer__wrap .field__appspirer {
  width: 327.5px;
  padding: 10px;
}

.field__appspirer p {
  font-family: "Roboto Bold";
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.field__appspirer a {
  font-family: "Roboto";
  font-size: 14px;
  color: #848484;
  display: block;
  text-decoration: none;
  padding: 8px 0px;
}

.footer__wrap .policy__appspirer {
  width: 277.5px;
  padding: 10px;
}

.policy__appspirer p {
  font-family: "Roboto Bold";
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.policy__appspirer a {
  font-family: "Roboto";
  font-size: 14px;
  color: #848484;
  display: block;
  text-decoration: none;
  padding: 8px 0px;
}

.footer__wrap .app__appspirer {
  width: 337.5px;
  padding: 10px;
}

.app__appspirer p {
  font-family: "Roboto Bold";
  font-size: 15px;
  color: #242424;
  margin-bottom: 5px;
}

.app__appspirer div {
  display: flex;
  justify-content: space-between;
}

.app__appspirer div img {
  width: 153.75px;
  height: 49.97px;
  margin: 30px 0px;
}

.app__appspirer .title {
  font-family: "Roboto Bold";
  font-size: 15px;
  color: #242424;
  margin: 0px 0px 25px 0px;
}

.app__appspirer .content {
  font-family: "Roboto ";
  font-size: 16px;
  color: #595959;
}

/**top__footer-end**/

/**middle__footer-start**/

.middle__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 208px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
}

.middle__footer div {
  gap: 40px;
}

.middle__footer div img {
  width: 360px;
  height: 140px;
}

.middle__footer div img.dmca {
  width: 250px;
  height: 125px;
}

.middle__footer p {
  font-family: "Roboto Bold";
  font-size: 14px;
  color: #242424;
}

.middle__footer_responsive {
  display: none;
}

.middle__footer .social__footer {
  display: flex;
  gap: 8px;
}

.social__footer div i {
  color: #fff;
}

.social__footer div {
  width: 34px;
  height: 34px;
  padding: 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__footer .facebook {
  background: #1a3d97;
}

.social__footer .pinterest {
  background: #cb2027;
}

.social__footer .linkedin {
  background: #0274b3;
}

.social__footer .whatsapp {
  background: #1ebea5;
}

.social__footer .telegram {
  background: #37aee2;
}
/**middle__footer-end**/

/**bottom__footer-start**/

.bottom__footer {
  height: 58px;
  display: flex;
  align-items: center;
}

.bottom__footer p {
  font-family: "Roboto";
  font-size: 12px;
  color: #595959;
  margin-top: 10px;
}

.bottom__footer img {
  width: 13px;
  height: 13px;
}

.bottom__footer p span {
  color: #0000ff;
  font-family: "Roboto Bold";
}

/**bottom__footer-end**/

/**recruiment__page-start**/

.banner__recruiment {
  height: 52px;
  margin-top: 20px;
}

.infor__recruiment {
  height: 230px;
  background-image: url("https://res.cloudinary.com/dcnp2nsnl/image/upload/v1678153128/Appspirer/tech-background_g832ct.webp");
  background-size: 1920px 230px;
  background-repeat: no-repeat;
  margin-bottom: 90px;
}

.infor__recruiment .title {
  font-family: "Roboto Bold";
  font-size: 68px;
  color: #ffffff;
  text-align: center;
}

.infor__recruiment .content {
  font-family: "Roboto Bold";
  font-size: 11px;
  color: #ffffff;
  text-align: center;
}

.recruitment_item {
  display: flex;
}

.recruitment_item img {
  width: 695px;
  height: 502.14px;
  padding: 10px;
}

.recruitment_item .recruitment__text {
  width: 695px;
  height: 502.14px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.recruitment_item div p {
  font-family: "Roboto Bold";
  font-size: 24px;
  color: #4c4c4c;
  margin-bottom: 25px;
}

.recruitment_item div button {
  width: 111.28px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: "Roboto Bold";
  font-size: 13px;
  color: #ffffff;
  background: #3db1e2;
}

/**recruiment__page-end**/

/**contact-start**/

.margin__top {
  margin-top: 170px;
}

/**contact-end**/
